.ai-table {
  .border-top-left {
    border-top: 1px solid #333;
    border-left: 1px solid #333;
  }

  .border-bottom-right {
    border-bottom: 1px solid #333;
    border-right: 1px solid #333;
  }

  .border-top {
    border-top: 1px solid #333;
  }

  .border-left {
    border-left: 1px solid #333;
  }

  .border-right {
    border-right: 1px solid #333;
  }

  .border-left-white {
    border-left: 1px solid transparent;
  }

  .border-bottom {
    border-bottom: 1px solid #333;
  }

  .pr30 {
    padding-right: 30px;
  }

  .red {
    color: red;
  }

  .ai-table__cell {
    vertical-align: middle;
    height: 60px;
    white-space: normal;
    word-break: break-all;
    line-height: 23px;
  }
  td {
    display: table-cell;
    vertical-align: middle;
  }

  .text-right {
    text-align: right!important;
  }

  .ai-table__operation {
    background: #fff;
    width: 30px;

    .ai-table__operation-inner {
      width: 30px;

      .ai-table__operation-inner__icon {
        width: 18px;
        height: 18px;
        cursor: pointer;
      }
    }
  }
}
